    </div>
    <div class="footer">
        <p><i class="copyright outline icon">&nbsp</i>
        <a href="https://github.com/nkosi-tauro" target="_blank"><i class="github icon"></i></a>Nkosi-Tauro 2018🎮</p>

     </div>
     
        <script>
            $(document).ready(function(){
              $('.ui .item').on('click', function() {
               $('.ui .item').removeClass('active');
               $(this).addClass('active');
            }); 
             
            })
            </script>
  
    </body>
</html>