.code{
    font-size: 2em;
}
.icon{
    font-size: 1.25em;
}

.ui.message{
    width: 50%;
    position: relative;
    left: 25%;  
}

#love-u{
  margin-top: 10px;
  padding-bottom: 55px;
  position: relative;
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: green;
  color: white;
  text-align: center;
}

.ui.massive.form{
  margin: 30px;
}

#delete {
  display: inline;
}
body {
background-color: #000;
  /* margin-top: 10px; */
  background : url("https://images.unsplash.com/photo-1523843268911-45a882919fec?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9b3602a80add062127e1862e27cbb789&auto=format&fit=crop&w=1900&q=80");
  background-size: cover;
  background-position: center;
  background-color: #000;
  background-repeat: no-repeat;
}

/* CONTACT */


h1{ margin: 0; }
#contact { 
position: sticky;
  -webkit-user-select: none; /* Chrome/Safari */        
  margin: 4em auto;
  width: 100px; 
  height: 30px; 
  line-height: 30px;
  background: teal;
  color: white;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  border: 1px solid white;
}

#contact:hover { background: #666; }
#contact:active { background: #444; }

#contactForm { 
  display: none;

  border: 6px solid rgb(19, 196, 3); 
  padding: 2em;
  width: 400px;
  text-align: center;
  background: #fff;
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%)
  
}

input, textarea { 
  margin: .8em auto;
  font-family: inherit; 
  text-transform: inherit; 
  font-size: inherit;
  
  display: block; 
  width: 280px; 
  padding: .4em;
}
textarea { height: 80px; resize: none; }

.formBtn { 
  width: 140px;
  display: inline-block;
  
  background: teal;
  color: #fff;
  font-weight: 100;
  font-size: 1.2em;
  border: none;
  height: 30px;
}

/* SPRITES  /// MARIO SPRITE */
.rotate{
  background: url('https://martindrapeau.github.io/backbone-game-engine/docs/super-mario-sprite.png') 0 0 no-repeat; 
  width: 32px;
  height: 68px;
  margin: auto;
  float: left;
}

.clockwise, .anticlockwise{
  color: #000;
  cursor: pointer;
  font-size: 40px;
  font-weight: bold;
  font-family: sans-serif;
}

.clockwise{
  float: right;
}

.clockwise:hover ~ .rotate{
  animation: rotate-clockwise 6s steps(21) infinite;
}

.auto{
  margin-top: 40px;
}

.auto:checked ~ .rotate{
  animation: rotate-clockwise 6s steps(21) infinite;
}

.auto:checked ~ .clockwise{
  color: #fff;
}

.auto:checked ~ .anticlockwise{
  color: #fff;
}


.anticlockwise:hover ~ .rotate{
  animation: rotate-anticlockwise 6s steps(21) infinite;
}

.auto{
  display: inline-block;
  margin-left: 0;
}

.auto-rotate{
  color: #333;
  font-weight: bold;
  font-family: sans-serif;
  clear: both;
}

@keyframes rotate-clockwise {  
  0% {background-position: 0 0; } 
  100% {background-position: -672px 0; } 
}

@keyframes rotate-anticlockwise {  
  0% {background-position: -672px 0; }
  100% {background-position: 0 0; } 
}

/* SPRITES  /// NINJA SPRITE */

.frame1 {
  width : 11px;
  height : 11px;
  -webkit-animation : idle ease-in-out 7s infinite;
  animation : idle ease-in-out 7s infinite;
  box-shadow : 30px 80px #3c272a,10px 110px #3c272a,10px 100px #3c272a,20px 90px #3c272a,20px 80px #3c272a,30px 90px #3c272a,30px 70px #3c272a,40px 70px #3c272a,30px 60px #3c272a,30px 50px #3c272a,30px 40px #3c272a,30px 30px #3c272a,40px 30px #3c272a,30px 20px #3c272a,40px 20px #3c272a,30px 10px #3c272a,20px 10px #3c272a,40px 80px #3c272a,40px 90px #3c272a,30px 100px #3c272a,30px 110px #3c272a,40px 100px #3c272a,40px 110px #3c272a,30px 120px #3c272a,40px 120px #3c272a,50px 120px #3c272a,60px 120px #3c272a,80px 120px #3c272a,90px 110px #3c272a,90px 100px #3c272a,50px 140px #3c272a,60px 140px #3c272a,70px 140px #3c272a,70px 150px #3c272a,70px 160px #3c272a,30px 140px #3c272a,30px 150px #3c272a,30px 160px #3c272a,30px 170px #3c272a,0px 120px #502723,0px 130px #502723,30px 130px #502723,40px 130px #502723,30px 180px #502723,30px 190px #502723,70px 120px #502723,40px 140px #403d3f,40px 150px #403d3f,40px 160px #403d3f,80px 140px #403d3f,80px 150px #403d3f,80px 160px #403d3f,50px 130px #793926,60px 130px #793926,80px 130px #793926,80px 180px #793926,80px 190px #793926,70px 110px #793926,70px 100px #793926,70px 90px #793926,70px 80px #793926,120px 110px #793926,80px 170px #3c272a,80px 110px #403d3f,80px 100px #403d3f,80px 90px #403d3f,80px 80px #403d3f,80px 70px #403d3f,60px 70px #403d3f,50px 70px #403d3f,50px 80px #403d3f,60px 80px #403d3f,50px 90px #403d3f,60px 90px #403d3f,60px 100px #403d3f,50px 100px #403d3f,50px 110px #403d3f,60px 110px #403d3f,90px 60px #403d3f,90px 50px #403d3f,90px 40px #403d3f,90px 30px #403d3f,80px 30px #403d3f,80px 20px #403d3f,70px 20px #403d3f,60px 20px #403d3f,50px 20px #403d3f,50px 30px #403d3f,70px 30px #403d3f,60px 30px #403d3f,40px 10px #403d3f,50px 10px #403d3f,60px 10px #403d3f,100px 110px #403d3f,110px 110px #403d3f,70px 130px #cba287,70px 70px #a27547,40px 60px #a27547,40px 50px #a27547,40px 40px #a27547,50px 40px #503b26,60px 40px #a27547,70px 40px #a27547,80px 40px #503b26,50px 50px #f4ae67,50px 60px #f4ae67,60px 60px #f4ae67,60px 50px #f4ae67,70px 50px #f4ae67,120px 120px #cba287,120px 130px #cba287,120px 100px #502723,80px 50px #f4ae67,80px 60px #f4ae67,70px 60px #f4ae67;
}
.frame2 {
  width : 11px;
  height : 11px;
  -webkit-animation : blink ease-in-out 7s infinite;
  animation : blink ease-in-out 7s infinite;
  box-shadow : 30px 80px #3c272a,10px 110px #3c272a,10px 100px #3c272a,20px 90px #3c272a,20px 80px #3c272a,30px 90px #3c272a,30px 70px #3c272a,40px 70px #3c272a,30px 60px #3c272a,30px 50px #3c272a,30px 40px #3c272a,30px 30px #3c272a,40px 30px #3c272a,30px 20px #3c272a,40px 20px #3c272a,30px 10px #3c272a,20px 10px #3c272a,40px 80px #3c272a,40px 90px #3c272a,30px 100px #3c272a,30px 110px #3c272a,40px 100px #3c272a,40px 110px #3c272a,30px 120px #3c272a,40px 120px #3c272a,50px 120px #3c272a,60px 120px #3c272a,80px 120px #3c272a,90px 110px #3c272a,90px 100px #3c272a,50px 140px #3c272a,60px 140px #3c272a,70px 140px #3c272a,70px 150px #3c272a,70px 160px #3c272a,30px 140px #3c272a,30px 150px #3c272a,30px 160px #3c272a,30px 170px #3c272a,0px 120px #502723,0px 130px #502723,30px 130px #502723,40px 130px #502723,30px 180px #502723,30px 190px #502723,70px 120px #502723,40px 140px #403d3f,40px 150px #403d3f,40px 160px #403d3f,80px 140px #403d3f,80px 150px #403d3f,80px 160px #403d3f,50px 130px #793926,60px 130px #793926,80px 130px #793926,80px 180px #793926,80px 190px #793926,70px 110px #793926,70px 100px #793926,70px 90px #793926,70px 80px #793926,120px 110px #793926,80px 170px #3c272a,80px 110px #403d3f,80px 100px #403d3f,80px 90px #403d3f,80px 80px #403d3f,80px 70px #403d3f,60px 70px #403d3f,50px 70px #403d3f,50px 80px #403d3f,60px 80px #403d3f,50px 90px #403d3f,60px 90px #403d3f,60px 100px #403d3f,50px 100px #403d3f,50px 110px #403d3f,60px 110px #403d3f,90px 60px #403d3f,90px 50px #403d3f,90px 40px #403d3f,90px 30px #403d3f,80px 30px #403d3f,80px 20px #403d3f,70px 20px #403d3f,60px 20px #403d3f,50px 20px #403d3f,50px 30px #403d3f,70px 30px #403d3f,60px 30px #403d3f,40px 10px #403d3f,50px 10px #403d3f,60px 10px #403d3f,100px 110px #403d3f,110px 110px #403d3f,70px 130px #cba287,70px 70px #a27547,40px 60px #a27547,40px 50px #a27547,40px 40px #a27547,50px 40px #a27547,60px 40px #a27547,70px 40px #a27547,80px 40px #a27547,50px 50px #f4ae67,50px 60px #f4ae67,60px 60px #f4ae67,60px 50px #f4ae67,70px 50px #f4ae67,120px 120px #cba287,120px 130px #cba287,120px 100px #502723,80px 50px #f4ae67,80px 60px #f4ae67,70px 60px #f4ae67;
}
.frame3 {
  width : 11px;
  height : 11px;
  -webkit-animation : spin1 ease-in-out 7s infinite;
  animation : spin1 ease-in-out 7s infinite;
  box-shadow : 30px 80px #3c272a,10px 110px #3c272a,10px 100px #3c272a,20px 90px #3c272a,20px 80px #3c272a,30px 90px #3c272a,30px 70px #3c272a,40px 70px #3c272a,30px 60px #3c272a,30px 50px #3c272a,30px 40px #3c272a,30px 30px #3c272a,40px 30px #3c272a,30px 20px #3c272a,40px 20px #3c272a,30px 10px #3c272a,20px 10px #3c272a,40px 80px #3c272a,40px 90px #3c272a,30px 100px #3c272a,30px 110px #3c272a,40px 100px #3c272a,40px 110px #3c272a,30px 120px #3c272a,40px 120px #3c272a,50px 120px #3c272a,60px 120px #3c272a,80px 120px #3c272a,90px 110px #3c272a,90px 100px #3c272a,50px 140px #3c272a,60px 140px #3c272a,70px 140px #3c272a,70px 150px #3c272a,70px 160px #3c272a,30px 140px #3c272a,30px 150px #3c272a,30px 160px #3c272a,30px 170px #3c272a,0px 120px #502723,0px 130px #502723,30px 130px #502723,40px 130px #502723,30px 180px #502723,30px 190px #502723,70px 120px #502723,40px 140px #403d3f,40px 150px #403d3f,40px 160px #403d3f,80px 140px #403d3f,80px 150px #403d3f,80px 160px #403d3f,50px 130px #793926,60px 130px #793926,80px 130px #793926,80px 180px #793926,80px 190px #793926,70px 110px #793926,70px 100px #793926,70px 90px #793926,70px 80px #793926,120px 110px #793926,80px 170px #3c272a,80px 110px #403d3f,80px 100px #403d3f,80px 90px #403d3f,80px 80px #403d3f,80px 70px #403d3f,60px 70px #403d3f,50px 70px #403d3f,50px 80px #403d3f,60px 80px #403d3f,50px 90px #403d3f,60px 90px #403d3f,60px 100px #403d3f,50px 100px #403d3f,50px 110px #403d3f,60px 110px #403d3f,90px 60px #403d3f,90px 50px #403d3f,90px 40px #403d3f,90px 30px #403d3f,80px 30px #403d3f,80px 20px #403d3f,70px 20px #403d3f,60px 20px #403d3f,50px 20px #403d3f,50px 30px #403d3f,70px 30px #403d3f,60px 30px #403d3f,40px 10px #403d3f,50px 10px #403d3f,60px 10px #403d3f,100px 110px #403d3f,110px 110px #502723,70px 130px #cba287,70px 70px #a27547,40px 60px #a27547,40px 50px #a27547,40px 40px #a27547,50px 40px #503b26,60px 40px #a27547,70px 40px #a27547,80px 40px #503b26,50px 50px #f4ae67,50px 60px #f4ae67,60px 60px #f4ae67,60px 50px #f4ae67,70px 50px #f4ae67,120px 120px #cba287,120px 130px #cba287,80px 50px #f4ae67,80px 60px #f4ae67,70px 60px #f4ae67,130px 120px #cba287,130px 110px #cba287,140px 110px #cba287;
}
.frame4 {
  width : 11px;
  height : 11px;
  -webkit-animation : spin2 ease-in-out 7s infinite;
  animation : spin2 ease-in-out 7s infinite;
  box-shadow : 30px 80px #3c272a,10px 110px #3c272a,10px 100px #3c272a,20px 90px #3c272a,20px 80px #3c272a,30px 90px #3c272a,30px 70px #3c272a,40px 70px #3c272a,30px 60px #3c272a,30px 50px #3c272a,30px 40px #3c272a,30px 30px #3c272a,40px 30px #3c272a,30px 20px #3c272a,40px 20px #3c272a,30px 10px #3c272a,20px 10px #3c272a,40px 80px #3c272a,40px 90px #3c272a,30px 100px #3c272a,30px 110px #3c272a,40px 100px #3c272a,40px 110px #3c272a,30px 120px #3c272a,40px 120px #3c272a,50px 120px #3c272a,60px 120px #3c272a,80px 120px #3c272a,90px 110px #3c272a,90px 100px #3c272a,50px 140px #3c272a,60px 140px #3c272a,70px 140px #3c272a,70px 150px #3c272a,70px 160px #3c272a,30px 140px #3c272a,30px 150px #3c272a,30px 160px #3c272a,30px 170px #3c272a,0px 120px #502723,0px 130px #502723,30px 130px #502723,40px 130px #502723,30px 180px #502723,30px 190px #502723,70px 120px #502723,40px 140px #403d3f,40px 150px #403d3f,40px 160px #403d3f,80px 140px #403d3f,80px 150px #403d3f,80px 160px #403d3f,50px 130px #793926,60px 130px #793926,80px 130px #793926,80px 180px #793926,80px 190px #793926,70px 110px #793926,70px 100px #793926,70px 90px #793926,70px 80px #793926,120px 110px #793926,80px 170px #3c272a,80px 110px #403d3f,80px 100px #403d3f,80px 90px #403d3f,80px 80px #403d3f,80px 70px #403d3f,60px 70px #403d3f,50px 70px #403d3f,50px 80px #403d3f,60px 80px #403d3f,50px 90px #403d3f,60px 90px #403d3f,60px 100px #403d3f,50px 100px #403d3f,50px 110px #403d3f,60px 110px #403d3f,90px 60px #403d3f,90px 50px #403d3f,90px 40px #403d3f,90px 30px #403d3f,80px 30px #403d3f,80px 20px #403d3f,70px 20px #403d3f,60px 20px #403d3f,50px 20px #403d3f,50px 30px #403d3f,70px 30px #403d3f,60px 30px #403d3f,40px 10px #403d3f,50px 10px #403d3f,60px 10px #403d3f,100px 110px #403d3f,110px 110px #403d3f,70px 130px #cba287,70px 70px #a27547,40px 60px #a27547,40px 50px #a27547,40px 40px #a27547,50px 40px #503b26,60px 40px #a27547,70px 40px #a27547,80px 40px #503b26,50px 50px #f4ae67,50px 60px #f4ae67,60px 60px #f4ae67,60px 50px #f4ae67,70px 50px #f4ae67,80px 50px #f4ae67,80px 60px #f4ae67,70px 60px #f4ae67,130px 110px #cba287,140px 110px #cba287,120px 100px #cba287,120px 90px #cba287,120px 120px #502723,130px 100px #cba287;
}
.frame5 {
  width : 11px;
  height : 11px;
  -webkit-animation : spin3 ease-in-out 7s infinite;
  animation : spin3 ease-in-out 7s infinite;
  box-shadow : 30px 80px #3c272a,10px 110px #3c272a,10px 100px #3c272a,20px 90px #3c272a,20px 80px #3c272a,30px 90px #3c272a,30px 70px #3c272a,40px 70px #3c272a,30px 60px #3c272a,30px 50px #3c272a,30px 40px #3c272a,30px 30px #3c272a,40px 30px #3c272a,30px 20px #3c272a,40px 20px #3c272a,30px 10px #3c272a,20px 10px #3c272a,40px 80px #3c272a,40px 90px #3c272a,30px 100px #3c272a,30px 110px #3c272a,40px 100px #3c272a,40px 110px #3c272a,30px 120px #3c272a,40px 120px #3c272a,50px 120px #3c272a,60px 120px #3c272a,80px 120px #3c272a,90px 110px #3c272a,90px 100px #3c272a,50px 140px #3c272a,60px 140px #3c272a,70px 140px #3c272a,70px 150px #3c272a,70px 160px #3c272a,30px 140px #3c272a,30px 150px #3c272a,30px 160px #3c272a,30px 170px #3c272a,0px 120px #502723,0px 130px #502723,30px 130px #502723,40px 130px #502723,30px 180px #502723,30px 190px #502723,70px 120px #502723,40px 140px #403d3f,40px 150px #403d3f,40px 160px #403d3f,80px 140px #403d3f,80px 150px #403d3f,80px 160px #403d3f,50px 130px #793926,60px 130px #793926,80px 130px #793926,80px 180px #793926,80px 190px #793926,70px 110px #793926,70px 100px #793926,70px 90px #793926,70px 80px #793926,120px 110px #793926,80px 170px #3c272a,80px 110px #403d3f,80px 100px #403d3f,80px 90px #403d3f,80px 80px #403d3f,80px 70px #403d3f,60px 70px #403d3f,50px 70px #403d3f,50px 80px #403d3f,60px 80px #403d3f,50px 90px #403d3f,60px 90px #403d3f,60px 100px #403d3f,50px 100px #403d3f,50px 110px #403d3f,60px 110px #403d3f,90px 60px #403d3f,90px 50px #403d3f,90px 40px #403d3f,90px 30px #403d3f,80px 30px #403d3f,80px 20px #403d3f,70px 20px #403d3f,60px 20px #403d3f,50px 20px #403d3f,50px 30px #403d3f,70px 30px #403d3f,60px 30px #403d3f,40px 10px #403d3f,50px 10px #403d3f,60px 10px #403d3f,100px 110px #cba287,110px 110px #cba287,70px 130px #cba287,70px 70px #a27547,40px 60px #a27547,40px 50px #a27547,40px 40px #a27547,50px 40px #503b26,60px 40px #a27547,70px 40px #a27547,80px 40px #503b26,50px 50px #f4ae67,50px 60px #f4ae67,60px 60px #f4ae67,60px 50px #f4ae67,70px 50px #f4ae67,80px 50px #f4ae67,80px 60px #f4ae67,70px 60px #f4ae67,120px 100px #cba287,120px 90px #cba287,130px 110px #502723,110px 100px #cba287;
}

/* Animations Below */
@-webkit-keyframes idle {
  0% {
      opacity : 1;
  }
  25% {
      opacity : 1;
  }
  25.1% {
      opacity : 0;
  }
  26.9% {
      opacity : 0;
  }
  27% {
      opacity : 1;
  }
  100% {
      opacity : 1;
  }
}

@keyframes idle {
  0% {
      opacity : 1;
  }
  25% {
      opacity : 1;
  }
  25.1% {
      opacity : 0;
  }
  26.9% {
      opacity : 0;
  }
  27% {
      opacity : 1;
  }
  100% {
      opacity : 1;
  }
}

@-webkit-keyframes blink {
  0% {
      opacity : 0;
  }
  1% {
      opacity : 1;
  }
  10% {
      opacity : 0;
  }
  100% {
      opacity : 0;
  }
}

@keyframes blink {
  0% {
      opacity : 0;
  }
  1% {
      opacity : 1;
  }
  10% {
      opacity : 0;
  }
  100% {
      opacity : 0;
  }
}

@-webkit-keyframes spin1 {
  0% {
      opacity : 0;
  }
  24.9% {
      opacity : 0;
  }
  25% {
      opacity : 1;
  }
  25.9% {
      opacity : 1;
  }
  26% {
      opacity : 0;
  }
  100% {
      opacity : 0;
  }
}

@keyframes spin1 {
  0% {
      opacity : 0;
  }
  24% {
      opacity : 0;
  }
  25% {
      opacity : 1;
  }
  27% {
      opacity : 1;
  }
  28% {
      opacity : 0;
  }
  100% {
      opacity : 0;
  }
}

@-webkit-keyframes spin2 {
  0% {
      opacity : 0;
  }
  25% {
      opacity : 0;
  }
  26% {
      opacity : 1;
  }
  28% {
      opacity : 1;
  }
  29% {
      opacity : 0;
  }
  100% {
      opacity : 0;
  }
}

@keyframes spin2 {
  0% {
      opacity : 0;
  }
  25% {
      opacity : 0;
  }
  26% {
      opacity : 1;
  }
  28% {
      opacity : 1;
  }
  29% {
      opacity : 0;
  }
  100% {
      opacity : 0;
  }
}

@-webkit-keyframes spin3 {
  0% {
      opacity : 0;
  }
  26% {
      opacity : 0;
  }
  27% {
      opacity : 1;
  }
  29% {
      opacity : 1;
  }
  30% {
      opacity : 0;
  }
  100% {
      opacity : 0;
  }
}

@keyframes spin3 {
  0% {
      opacity : 0;
  }
  26% {
      opacity : 0;
  }
  27% {
      opacity : 1;
  }
  29% {
      opacity : 1;
  }
  30% {
      opacity : 0;
  }
  100% {
      opacity : 0;
  }
}
/* ---------------------------------------------------------------------------------------------------------------- */